#whole_general_component{
    //not very good looking unfortunately
    // background-image: url(http://sfwallpaper.com/images/background-dragon-ball-z-22.jpg);
    background-color: rgb(241, 78, 2); 
    height: 100vh;
    width: 100vw;
    font-weight: bold;
    border: 10px;
}

.term_name {
    text-decoration: underline;
}