#whole_add_section{
    border: 1px solid black;
    height: 90vh;
    width: 100vw;
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input_section {
    width: 75%;
    display: flex;
    flex-direction: column;
}
